absl-py
appnope
astor
attrs
backcall
bleach
blis
certifi
chardet
crossrefapi
cycler
cymem
decorator
defusedxml
entrypoints
findspark
fuzzywuzzy
gast
gensim
grpcio
jupyter
jupyter-client
jupyter-console
jupyter-core
h5py
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
lupa
Markdown
MarkupSafe
matplotlib
mistune
mock
murmurhash
nbconvert
nbformat
nltk
notebook
pandas
pandocfilters
parso
pexpect
pickleshare
plac
preshed
prometheus-client
prompt-toolkit
protobuf
ptyprocess
py4j
pyarrow
Pygments
pyparsing
pyrsistent
pyspark
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
requests
scikit-learn
scipy
Send2Trash
six
sklearn
spacy
srsly
tensorboard
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
thinc
tornado
tqdm
traitlets
urllib3
wasabi
wcwidth
webencodings
Werkzeug
widgetsnbextension
wikiciteparser